* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

.main-container {
    background-color: #f5ece1;
    background-image: 
        linear-gradient(45deg, rgba(180, 138, 0, 0.05) 25%, transparent 25%), 
        linear-gradient(-45deg, rgba(180, 138, 0, 0.05) 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, rgba(180, 138, 0, 0.05) 75%), 
        linear-gradient(-45deg, transparent 75%, rgba(180, 138, 0, 0.05) 75%);
    background-size: 20px 20px;
    
    max-width: 450px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.main-container::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-image: radial-gradient(1px 1px at 20px 30px, #b48a00, transparent),
                      radial-gradient(1.5px 1.5px at 50px 80px, #ffffff, transparent);
    background-size: 100px 100px;
    animation: glitter 4s infinite;
    pointer-events: none;
    z-index: 10;
}

@keyframes glitter {
    0%, 100% { opacity: 0.9; }
    50% { opacity: 0.9; }
}

section { 
    padding: 20px 20px; 
    text-align: center; 
}

.slider-bg-container {
    position: relative;
    width: 100%;
    padding: 50px 50px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 25px;
}
.bg-grid-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.6; 
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider img {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    height: 300px;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --swiper-navigation-color: #d4af37;
    --swiper-pagination-color: #d4af37;
}

.opening-text { 
    background: #1a2a4a; 
    color: white; 
    border-bottom: 5px solid #d4af37;
    border-radius:15px; 
    width: 90%; 
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

.bismillah { 
    font-size: 1.5rem; 
    margin-bottom: 15px;
}

.child-name-main { 
    font-family: 'Great Vibes', cursive; 
    font-size: 2.5rem; 
    color: #1a2a4a; 
    margin: 5px 0;
    line-height: 1.2; 
}

.parents-info { 
    font-weight: bold; 
    margin-bottom: 20px; 
}

.profile-section h4 {
    margin: 0; 
    padding: 0;
    line-height: 1;
}
.profile-frame {
    width: 200px; 
    height: 200px; 
    margin: 0 auto;
    margin-top: 1px;
    border-radius: 50%; 
    border: 5px solid #d4af37;
    overflow: hidden; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.profile-frame img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.khitan-quote { 
    font-style: italic; 
    font-size: 0.9rem; 
    margin-top: 5px;
    margin-bottom: 10px;
    color: #666; 
}

#timer { 
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    margin: 5px 0; 
}

.time-box { 
    background: #1a2a4a; 
    color: #d4af37; 
    padding: 10px; 
    border-radius: 8px; 
    width: 70px; 
    margin-bottom: 0px;
}

.time-box span { 
    display: block; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

.gold-title { 
    font-family: 'Playfair Display', serif; 
    color: #1a2a4a; 
    border-bottom: 2px solid #d4af37; 
    display: inline-block; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.maps-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #d4af37;
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.map-box {
    flex: 0 0 100px; 
    height: 100px;   
    border-radius: 10px;
    overflow: hidden; 
    border: 1px solid #eee;
}

.map-box iframe {
    width: 250%;  
    height: 250%; 
    transform: scale(0.4); 
    transform-origin: 0 0; 
    border: none;
}


.info-box {
    flex: 2;
    text-align: left;
}

.address-text {
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 10px;
    line-height: 1.4;
}


.btn-location-small {
    display: inline-block;
    background: #1a2a4a;
    color: #d4af37;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid #d4af37;
    transition: 0.3s;
}

.btn-location-small:hover {
    background: #d4af37;
    color: #1a2a4a;
}


@media (max-width: 360px) {
    .maps-flex-container {
        flex-direction: column;
        text-align: center;
    }
    .info-box { text-align: center; }
}

.btn-location {
    display: block; 
    width: 240px;
    background: #d4af37; 
    color: #1a2a4a; 
    text-decoration: none; 
    padding: 15px; 
    border-radius: 8px; 
    font-weight: bold; 
    margin: 5px auto 0px auto;
}

.gift-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 15px;
}

.gift-card {
    background: #1a2a4a; 
    color: white; 
    padding: 25px; 
    border-radius: 15px; 
    border: 2px solid #d4af37;
    max-width: 500px;
}

.bank-info {
    text-align: left;
    padding: 10px;
}

.bank-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bank-icon {
    width: 60px;
    height: auto;
}

.bank-details p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.or { 
    margin: 10px 0; 
    font-weight: bold; 
    color: #d4af37; 
    font-size: 0.9rem;
    text-align: center;
}

.scan { 
    margin: 10px 0; 
    font-weight: bold; 
    color: #d4af37; 
    font-size: 0.9rem;
    text-align: center;
}

.qris-area img { 
    width: 130px;
    height: 130px; 
    border: 3px solid white; 
    border-radius: 10px; 
    background: white;
}
@media (max-width: 480px) {
    .gift-content {
        flex-direction: column;
        text-align: center;
    }
    .bank-item {
        justify-content: center;
    }
}

.gallery-grid img { 
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 15px; 
    border: 3px solid #fff; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.closing-section {
    text-align: center;
    padding: 10px 10px; 
    margin-top: 1px;
    line-height: 1.8; 
}
.closing-salam {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-size: 1.1rem; 
    display: block;
    margin: auto
}

.footer-outside {
    width: 100%;
    padding: 20px 0;
    margin-top: 40px; 
    border-top: 1px solid rgba(212, 175, 55, 0.3); 
    background: transparent;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #888;
}

.footer-container p {
    font-size: 0.85rem;
    margin: 0;
    letter-spacing: 0.5px;
}

.footer-container strong {
    color: #d4af37;
}

.footer-socials {
    margin-top: 10px;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #555;
}
.bottom-nav {
    position: fixed;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    max-width: 400px; 
    min-width: fit-content; 
    
    background: rgba(26, 42, 74, 0.9); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 8px 15px; 
    border-radius: 20px;
    border: 1px solid #d4af37;
    z-index: 9999; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.nav-item {
    flex:1;
    min-width: 60px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 0.7rem;
    transition: 0.3s;
}

.nav-item span {
    font-size: 1.2rem;
    display: block;
}

.nav-item p {
    margin: 0;
    color: #d4af37;
    font-weight: bold;
}

.nav-item:hover {
    transform: translateY(-5px);
}